header {
    width: 100%;
    text-align: center;
    padding: 30px 0 0 0;
    background: linear-gradient(90deg, #d4d10c, #50aec8, #e613a7); /* Blue, Green, Violet */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    width: 100%;
  }
  
  .contact-card {
    display: flex;
    width: 100%;
    max-width: 1100px;
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);
  }
  
  .left-section, .right-section {
    width: 50%;
    padding: 30px 30px;
  }
  
  .form-section h2, .details-section h2, .right-section .map-section h2 {
    font-size: 23px;
    margin-bottom: 10px;
    color: #6397f7;
  }
  
  .form-section p {
    font-size: 12px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 16px;
  }
  
  label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: #333;
  }
  
  input, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #f9f9f9;
    transition: border 0.3s ease;
  }
  
  
  button {
    width: 82%;
    padding: 14px;
    background:  #719be5;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background:#0f62f2;
  }
  
  .success-message {
    margin-top: 15px;
    color: #28a745;
    font-weight: 500;
    text-align: center;
  }
  
  .details-section p {
    color: #444;
    font-size: 16px;
    margin: 12px 0;
    line-height: 1.5;
  }
  
  .details-section strong {
    color: #111;
  }
  
  .map-section {
    margin-top: 30px;
  }
  
  .map-section h2 {
    margin-bottom: 15px;
    font-size: 22px;
    color: #222;
  }
  
  .map-section iframe {
    width: 100%;
    height: 300px;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 30px;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 20px;
  }
  
  nav ul li a {
    color: #444;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
  }
  
  nav ul li a.active {
    color: #2575fc;
    text-decoration: underline;
  }
  
  @media (max-width: 900px) {
    .contact-card {
      flex-direction: column;
    }
  
    .left-section, .right-section {
      width: 100%;
      padding: 30px 20px;
    }
  
    header {
      font-size: 26px;
    }
  }
  
  .about-footer {
    text-align: center;
    font-size: 14px;
    color: #888;
    margin-top: 10px;
    margin-bottom: 20px;
  }
